.container {
  border: 5px solid;
  display: flex;
  flex-wrap:wrap-reverse;
}

.container .item {
  width: 150px;
  height: 100px;
  background: tomato;
  margin:10px;
  border: 4px dashed red;

  justify-content:center;
  align-items: center;
  flex-wrap:wrap;
  
}