@charset "utf-8";




html{
    font-family: '나눔 고딕', 'NanumGothic', '돋움', 'Dotum', sans-serif;
}


/* 리셋 */
html, body, div,
h1, h2, p, a,address, 
ul, li, article,
footer, header
nav,  section{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}

 ul {
	list-style: none;
    text-decoration:none;
}




/* 헤더 */
.head{
    background-color: #000;
    min-width: 1080px;
}

.head_name{
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    height: 120px;
    width: 1080px;
    text-indent: 40px;
    margin: 0 auto;
    line-height: 120px;
}



/* 메뉴 */
.menu{
    width: 1000px;
    margin: 0 auto;
    
    padding: 40px;
    display: flex;
}

.menu_item{
    display: flex;
    justify-content: center;
    align-items:center;
    list-style:none;
    border: 1px solid #d1d1d1;
    
    height: 33px;
    flex-grow:1;
    flex-basis:0;
}

.menu_link{
    
    font-size: 16px;
    color: #000;
    text-align: center;
}

.menu_item + .menu_item{
    margin-left: 14px;
}

.menu_item:hover .menu_link{
    color: #454545;
    font-weight: bold;
}



/* 컨텐츠 */
.main{
    width: 1000px;
    margin: 0 auto;
    padding: 0 40px ;
}


.main_name{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin: 10px 0 30px;
    border-bottom: 1px solid #454545;
    padding-bottom: 20px;
}

.content_box{
    margin-top: 30px;
}


.content_name{
    font-size: 16px;
    color: #333;
    background-color: #f7f7f7;
    border: 1px solid #d1d1d1;
    height: 46px;
    padding-left: 15px;
    line-height: 46px;
    margin: 0;
}

.content_area{
    font-size: 12px;
    color: #000;
    padding: 30px;
    border: 1px solid #d1d1d1;
   margin: 0;
   border-top: 0;
}


/* 풋터 */
.footer_box{
    text-align: center;
    border-top: solid 1px #d1d1d1;
    padding-top: 30px;
    margin-top: 40px;
    min-width: 1080px;
}

.addr{
    font-size: 12px;
    color: #999;
}

.copyright{
    font-size: 12px;
    color: #000;
}