.btn {
    width:100px;
    height:100px;
    &:active {
        font-weight:bold;
    }
    .btn:active{
        color:red;
    }
}


.fs {
    &-small{
        font-size:14px;
    }
    &-medium {
        font-size:16px;
    }
    &-large {
        font-size:18px;
    }
}



/* css로 아래와 같이 변환됨 */



.btn {
    width: 100px;
    height: 100px;
  }
  
  .btn:active {
    font-weight: bold;
  }
  
  .btn .btn:active {
    color: red;
  }
  
  .fs-small {
    font-size: 14px;
  }
  
  .fs-medium {
    font-size: 16px;
  }
  
  .fs-large {
    font-size: 18px;
  }
  