span{
  width:100px;
  height:100px;
  background:tomato;
  margin:30px 0;
  
/*   스팬태그는 인라인 요소 이므로, 위와 같은 너비, 높이 값을 가질 수 없으나, display: block; flex
  
  Position: fixed; absolute의 경우도 마찬가지로 를 입력하면 가질 수 있다.  */
  
  
  
}